doctype html
html
    head
        meta(charset="utf-8")
        title Burgers
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width" initial-scale="1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="/main.min.css")
        script(src="/main.js" defer)
    body
        .wrapper
            .maincontent
                include sections/1.pug
                include sections/2.pug
                include sections/4.pug
                include sections/6.pug
