doctype html
html
    head
        meta(charset="utf-8")
        title Burgers
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width" initial-scale="1" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="./main.min.css")
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src="./main.js" defer type="text/javascript")
    body
        .wrapper
            .maincontent
                ul.nav-dots
                include sections/1.pug
                include sections/2.pug
                include sections/3.pug
                include sections/4.pug
                include sections/5.pug
                include sections/6.pug
                include sections/7.pug
                include sections/8.pug
