section.section.hero
    .container.hero__container
        header.header
            .header__logo
                a.header__logo-link(href='#')
                    img.hero__logo-img(src='images/1/logo.png')
            nav.header__nav
                ul.header__menu
                    li.header__menu-item
                        a.header__menu-item-link(href='#') о нас
                    li.header__menu-item
                        a.header__menu-item-link(href='#') бургеры
                    li.header__menu-item
                        a.header__menu-item-link(href='#') команда
                    li.header__menu-item
                        a.header__menu-item-link(href='#') меню
                    li.header__menu-item
                        a.header__menu-item-link(href='#') отзывы
                    li.header__menu-item
                        a.header__menu-item-link(href='#') как мы работаем
                    li.header__menu-item  
                        a.header__menu-item-link(href='#') контакты  
            .header__button
                a.header__button-link(href='#') заказать
        .hero__content
            .hero__content-img
                img(src='images/1/burger.png')
            .hero__content-description
                h2.hero__content-description-title Мы делаем
                h2.hero__content-description-subtitle натуральные бургеры
        .scroll
            img.scroll__image(src='images/1/scroll.png')