section.section.hero.activeSection
    .container.hero__container
        header.header
            .header__logo
                a.header__logo-link(href='' data-goto='0')
                    img.header__logo-img(src='images/1/logo.png')
            nav.header__nav
                ul.header__menu#menuContent
                    li.header__menu-item
                        a.header__menu-item-link(href='' data-goto='1') о нас
                    li.header__menu-item
                        a.header__menu-item-link(href='' data-goto='2') бургеры
                    li.header__menu-item
                        a.header__menu-item-link(href='' data-goto='3') команда
                    li.header__menu-item
                        a.header__menu-item-link(href='' data-goto='4') меню
                    li.header__menu-item
                        a.header__menu-item-link(href='' data-goto='5') отзывы
                    li.header__menu-item  
                        a.header__menu-item-link(href='' data-goto='7') контакты  
            .header__buttons
                .header__buttons-button
                    a.header__buttons-button-link(href='' data-goto='6') заказать
                .header__buttons-burger
                    img.header__buttons-burger-img#menuTriggerOpen(src='images/1/open.png')
                    img.header__buttons-burger-img#menuTriggerClose(src='images/1/close.png')
        .hero__content
            img.hero__content-img(src='images/1/burger.png')
            .hero__content-description
                h2.hero__content-description-title Мы делаем
                h3.hero__content-description-subtitle натуральные бургеры
        a.scroll(href='' data-goto='1')
            img.scroll__image(src='images/1/scroll.png')