section.section.best
    .container.best__container
        .best__content
            h2.best__content-title Мы лучшие
            ul.best__content-items
                li.best__content-items-item
                    .best__content-items-item-icon
                        img(src='images/2/meat.png')
                    h3.best__content-items-item-title 100% свежее мясо
                    .best__content-items-item-description Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
                li.best__content-items-item
                    .best__content-items-item-icon
                        img(src='images/2/hand.png')
                    h3.best__content-items-item-title Ручная сборка
                    .best__content-items-item-description Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Первое полустишие притягивает сюжетный реформаторский пафос.
                li.best__content-items-item
                    .best__content-items-item-icon
                        img(src='images/2/natural.png')
                    h3.best__content-items-item-title Натуральные продукты
                    .best__content-items-item-description Драма представляет собой деструктивный цикл. Анапест представляет собой анапест.
