section.section.burgers
    .container.burgers__container
        a.burgers__scroll.burgers__scroll-left(href='#')
            img(src='images/3/left-scroll.png')
        a.burgers__scroll.burgers__scroll-right(href='#')
            img(src='images/3/right-scroll.png')
        .burgers__slider
            ul.burgers__list
                li.burgers__list-item.activeItem
                    .burgers__list-item-left
                        img.burgers__list-item-left-img(src='images/3/burger1.png')
                        .burgers__list-item-left-composition
                            img(src='images/3/content-img.png')
                        ul.burgers__list-item-left-dropdown
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/beef.png')
                                .burgers__list-item-left-dropdown-item-name Говядина
                                .burgers__list-item-left-dropdown-item-weight 300г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/buns.png')
                                .burgers__list-item-left-dropdown-item-name Булочки
                                .burgers__list-item-left-dropdown-item-weight 100г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/salad.png')
                                .burgers__list-item-left-dropdown-item-name Зелень
                                .burgers__list-item-left-dropdown-item-weight 70г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/sauce.png')
                                .burgers__list-item-left-dropdown-item-name Соус
                                .burgers__list-item-left-dropdown-item-weight 150г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cucumber.png')
                                .burgers__list-item-left-dropdown-item-name Овощи
                                .burgers__list-item-left-dropdown-item-weight 200г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cheese.png')
                                .burgers__list-item-left-dropdown-item-name Сыр
                                .burgers__list-item-left-dropdown-item-weight 80г
                        .burgers__list-item-left-calories
                            img(src='images/3/calories.png')
                    .burgers__list-item-right
                        h2.burgers__list-item-right-title Dark beef burger
                        .burgers__list-item-right-description Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .burgers__list-item-right-order
                            .burgers__list-item-right-order-price 500
                            .burgers__list-item-right-order-value рублей
                            .burgers__list-item-right-order-button 
                                a.burgers__list-item-right-order-button-link(href='#') Заказать
                li.burgers__list-item
                    .burgers__list-item-left
                        img.burgers__list-item-left-img(src='images/3/burger2.png')
                        .burgers__list-item-left-composition
                            img(src='images/3/content-img.png')
                        ul.burgers__list-item-left-dropdown
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/beef.png')
                                .burgers__list-item-left-dropdown-item-name Говядина
                                .burgers__list-item-left-dropdown-item-weight 300г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/buns.png')
                                .burgers__list-item-left-dropdown-item-name Булочки
                                .burgers__list-item-left-dropdown-item-weight 100г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/salad.png')
                                .burgers__list-item-left-dropdown-item-name Зелень
                                .burgers__list-item-left-dropdown-item-weight 70г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/sauce.png')
                                .burgers__list-item-left-dropdown-item-name Соус
                                .burgers__list-item-left-dropdown-item-weight 150г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cucumber.png')
                                .burgers__list-item-left-dropdown-item-name Овощи
                                .burgers__list-item-left-dropdown-item-weight 200г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cheese.png')
                                .burgers__list-item-left-dropdown-item-name Сыр
                                .burgers__list-item-left-dropdown-item-weight 80г
                        .burgers__list-item-left-calories
                            img(src='images/3/calories.png')
                    .burgers__list-item-right
                        h2.burgers__list-item-right-title Dark beef burger
                        .burgers__list-item-right-description Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .burgers__list-item-right-order
                            .burgers__list-item-right-order-price 500
                            .burgers__list-item-right-order-value рублей
                            .burgers__list-item-right-order-button 
                                a.burgers__list-item-right-order-button-link(href='#') Заказать
                li.burgers__list-item
                    .burgers__list-item-left
                        img.burgers__list-item-left-img(src='images/3/burger3.png')
                        .burgers__list-item-left-composition
                            img(src='images/3/content-img.png')
                        ul.burgers__list-item-left-dropdown
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/beef.png')
                                .burgers__list-item-left-dropdown-item-name Говядина
                                .burgers__list-item-left-dropdown-item-weight 300г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/buns.png')
                                .burgers__list-item-left-dropdown-item-name Булочки
                                .burgers__list-item-left-dropdown-item-weight 100г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/salad.png')
                                .burgers__list-item-left-dropdown-item-name Зелень
                                .burgers__list-item-left-dropdown-item-weight 70г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/sauce.png')
                                .burgers__list-item-left-dropdown-item-name Соус
                                .burgers__list-item-left-dropdown-item-weight 150г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cucumber.png')
                                .burgers__list-item-left-dropdown-item-name Овощи
                                .burgers__list-item-left-dropdown-item-weight 200г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cheese.png')
                                .burgers__list-item-left-dropdown-item-name Сыр
                                .burgers__list-item-left-dropdown-item-weight 80г
                        .burgers__list-item-left-calories
                            img(src='images/3/calories.png')
                    .burgers__list-item-right
                        h2.burgers__list-item-right-title Dark beef burger
                        .burgers__list-item-right-description Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .burgers__list-item-right-order
                            .burgers__list-item-right-order-price 500
                            .burgers__list-item-right-order-value рублей
                            .burgers__list-item-right-order-button 
                                a.burgers__list-item-right-order-button-link(href='#') Заказать
                li.burgers__list-item
                    .burgers__list-item-left
                        img.burgers__list-item-left-img(src='images/3/burger4.png')
                        .burgers__list-item-left-composition
                            img(src='images/3/content-img.png')
                        ul.burgers__list-item-left-dropdown
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/beef.png')
                                .burgers__list-item-left-dropdown-item-name Говядина
                                .burgers__list-item-left-dropdown-item-weight 300г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/buns.png')
                                .burgers__list-item-left-dropdown-item-name Булочки
                                .burgers__list-item-left-dropdown-item-weight 100г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/salad.png')
                                .burgers__list-item-left-dropdown-item-name Зелень
                                .burgers__list-item-left-dropdown-item-weight 70г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/sauce.png')
                                .burgers__list-item-left-dropdown-item-name Соус
                                .burgers__list-item-left-dropdown-item-weight 150г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cucumber.png')
                                .burgers__list-item-left-dropdown-item-name Овощи
                                .burgers__list-item-left-dropdown-item-weight 200г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cheese.png')
                                .burgers__list-item-left-dropdown-item-name Сыр
                                .burgers__list-item-left-dropdown-item-weight 80г
                        .burgers__list-item-left-calories
                            img(src='images/3/calories.png')
                    .burgers__list-item-right
                        h2.burgers__list-item-right-title Dark beef burger
                        .burgers__list-item-right-description Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .burgers__list-item-right-order
                            .burgers__list-item-right-order-price 500
                            .burgers__list-item-right-order-value рублей
                            .burgers__list-item-right-order-button 
                                a.burgers__list-item-right-order-button-link(href='#') Заказать
                li.burgers__list-item
                    .burgers__list-item-left
                        img.burgers__list-item-left-img(src='images/3/burger5.png')
                        .burgers__list-item-left-composition
                            img(src='images/3/content-img.png')
                        ul.burgers__list-item-left-dropdown
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/beef.png')
                                .burgers__list-item-left-dropdown-item-name Говядина
                                .burgers__list-item-left-dropdown-item-weight 300г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/buns.png')
                                .burgers__list-item-left-dropdown-item-name Булочки
                                .burgers__list-item-left-dropdown-item-weight 100г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/salad.png')
                                .burgers__list-item-left-dropdown-item-name Зелень
                                .burgers__list-item-left-dropdown-item-weight 70г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/sauce.png')
                                .burgers__list-item-left-dropdown-item-name Соус
                                .burgers__list-item-left-dropdown-item-weight 150г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cucumber.png')
                                .burgers__list-item-left-dropdown-item-name Овощи
                                .burgers__list-item-left-dropdown-item-weight 200г
                            li.burgers__list-item-left-dropdown-item
                                img.burgers__list-item-left-dropdown-item-img(src='images/3/cheese.png')
                                .burgers__list-item-left-dropdown-item-name Сыр
                                .burgers__list-item-left-dropdown-item-weight 80г
                        .burgers__list-item-left-calories
                            img(src='images/3/calories.png')
                    .burgers__list-item-right
                        h2.burgers__list-item-right-title Dark beef burger
                        .burgers__list-item-right-description Ваш старый добрый знакомый, с рубленым бифштексом из 100% говядины, тремя кусочками нежнейшего сыра эмменталь, двумя помидорами, луком, салатом и соусом гриль теперь с добавлением экзотического соуса чураско.
                        .burgers__list-item-right-order
                            .burgers__list-item-right-order-price 500
                            .burgers__list-item-right-order-value рублей
                            .burgers__list-item-right-order-button 
                                a.burgers__list-item-right-order-button-link(href='#') Заказать