section.section.team
    .container.team__container
        .team__content
            h2.team__content-title Команда
            ul.team__content-accordeon
                li.team__content-accordeon-item 
                    .team__content-accordeon-item-trigger Дэниел Редклиф
                    .team__content-accordeon-item-content
                        img.team__content-accordeon-item-content-avatar(src='images/4/avatar.png')
                        .team__content-accordeon-item-content-text
                            h3.team__content-accordeon-item-content-text-position Оператор
                            .team__content-accordeon-item-content-text-description С радостью поможет подобрать идеальный бургер и оформить заказ.
                li.team__content-accordeon-item
                    .team__content-accordeon-item-trigger Ричард Джеймс
                    .team__content-accordeon-item-content
                        img.team__content-accordeon-item-content-avatar(src='images/4/avatar.png')
                        .team__content-accordeon-item-content-text
                            h3.team__content-accordeon-item-content-text-position Оператор
                            .team__content-accordeon-item-content-text-description С радостью поможет подобрать идеальный бургер и оформить заказ.
                li.team__content-accordeon-item
                    .team__content-accordeon-item-trigger Джейк Финн
                    .team__content-accordeon-item-content
                        img.team__content-accordeon-item-content-avatar(src='images/4/avatar.png')
                        .team__content-accordeon-item-content-text
                            h3.team__content-accordeon-item-content-text-position Оператор
                            .team__content-accordeon-item-content-text-description С радостью поможет подобрать идеальный бургер и оформить заказ.