section.section.menu
    .container.menu__container
        .menu__content
            h2.menu__content-title Меню
            ul.menu__content-accordeon
                li.menu__content-accordeon-item
                    img.menu__content-accordeon-item-background(src='images/5/1.png')
                    .menu__content-accordeon-item-trigger 
                        .menu__content-accordeon-item-trigger-text Для мясоедов
                    .menu__content-accordeon-item-content Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
                li.menu__content-accordeon-item
                    img.menu__content-accordeon-item-background(src='images/5/2.png')
                    .menu__content-accordeon-item-trigger 
                        .menu__content-accordeon-item-trigger-text Вегетарианское
                    .menu__content-accordeon-item-content Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
                li.menu__content-accordeon-item
                    img.menu__content-accordeon-item-background(src='images/5/3.png')
                    .menu__content-accordeon-item-trigger 
                        .menu__content-accordeon-item-trigger-text Диетическое
                    .menu__content-accordeon-item-content Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову, однако механизм сочленений неустойчив. Модальность высказывания, как справедливо считает И.Гальперин, пространственно выбирает метр. Речевой акт редуцирует диалектический характер. Развивая эту тему, заимствование редуцирует конструктивный механизм сочленений. Лирический субъект начинает диссонансный анжамбеман. Наш современник стал особенно чутко относиться к слову.
