section.section.feedback
    .container.feedback__container
        ul.feedback__items
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/1.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/2.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/3.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/4.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/5.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/6.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/7.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее
            li.feedback__items-item
                img.feedback__items-item-img(src='images/6/8.png')
                .feedback__items-item-content
                    h3.feedback__items-item-content-name Константин Спилберг
                    .feedback__items-item-content-text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
                    .feedback__items-item-content-button Подробнее