section.section.contacts
    .container.contacts__container
        .contacts__map#map
        footer.contacts__footer 
            .contacts__footer-content 
                .contacts__footer-content-destination 
                    .contacts__footer-content-destination-address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
                    a.contacts__footer-content-destination-phone(href='tel:+78123771377') +7 (812) 377-13-77
                .contacts__footer-content-socials
                    svg.contacts__footer-content-socials-icon
                        use(xlink:href="images/8/sprite.svg#vk")
                    svg.contacts__footer-content-socials-icon
                        use(xlink:href="images/8/sprite.svg#fb")
                    svg.contacts__footer-content-socials-icon
                        use(xlink:href="images/8/sprite.svg#inst")
                    svg.contacts__footer-content-socials-icon
                        use(xlink:href="images/8/sprite.svg#tw")