.menu {
    background-image: url('images/5/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

.menu__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;

    &-title {
        @include header($white);
        margin-top: rem(80px);
    }

    &-accordeon {
        display: flex;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;

        &-item {
            margin: 0;
            height: 100%;
            display: flex;
            position: relative;

            &-background {
                width: rem(80px);
                height: 100%;
                position: absolute;
            }
            
            &-trigger {
                height: 100%;
                min-width: rem(80px);
                display: block;
                @include header($white);
                font-size: rem(40px);
                transform: rotate(180deg);
                cursor: pointer;
                transition: .2s;

                &-text {
                    white-space: nowrap;
                    transform: rotate(90deg);
                    position: absolute;
                    bottom: 80%;
                    right: 0;
                    width: 100%;
                }
            }

            &-content {
                width: 0;
                padding: 15%;
                overflow: hidden;
                transition: .5s;
                font-size: rem(14px);    
                line-height: 1.5;
                font-weight: 300;
                color: $white;
                background-color: rgba($dark, 0.9);
            }
        }
    }
}